@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.header {
  width: auto;
  height: 40rem;  
  background-color: rgb(2,0,3);  
  position: relative;
  .header__container {
    position: absolute;
    top: 180px;
    left: 250px;
    width: 400px;
    height: 20rem;
    h1 {
      font-size: 3.8rem;
      font-weight: 800;
      font-family: 'Kanit', sans-serif;
      margin-bottom: 1rem;
      color: #c298e2;
      text-shadow: 3px 5px  #5c565c;
      animation-duration: 1.5s;
      animation-name: slidein;

      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 100%;
        }

        to {
          margin-left: 0%;
          width: 100%;
        }
      }
    }    
  }
  .header__container2 {
    position: absolute;
    top: 0px;
    left: 700px;    
  }

}
